  <!-- <form [formGroup]="formGroup" (submit)="create()" class="register-form-group">
    <div class="row">
      <div class="col-sm">
        <nz-form-item>
          <nz-form-control >
            <label>length</label>
            <span >*</span>
            <input nz-input formControlName="title" id="title" />

          </nz-form-control>
        </nz-form-item>
      </div>
      <div>
        <nz-form-item>
          <nz-form-control >
            <label nz-checkbox formControlName="big">uppercases</label>

          </nz-form-control>
        </nz-form-item>
      </div>

      <div>
        <nz-form-item>
          <nz-form-control >
            <label nz-checkbox formControlName="numbs">numbers</label>

          </nz-form-control>
        </nz-form-item>
      </div>
      <div>
        <nz-form-item>
          <nz-form-control >
            <label nz-checkbox formControlName="symb">symbols</label>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <button nz-button  nzType="primary" type="submit">Generate password</button>

  </form> -->


  <form nz-form [formGroup]="formGroup" class="login-form" (submit)="create()" >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="length" placeholder="length" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="big">
          <span>uppercases</span>
        </label>
      </div>

    </div>
    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="numbs">
          <span>numbers</span>
        </label>
      </div>

    </div>
    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="symb">
          <span>symbols</span>
        </label>
      </div>

    </div>

    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Generate Password</button>
<p *ngIf="fpassword">{{fpassword}}</p>
  </form>
